

/*------------------------------------Sidebar---------------------------------------------*/
#sidebar {
	width: 95px;
	top: 0px;
	left: 0px;
	position: fixed;
	height: 100%;
	box-shadow: 0px 0px 10px #CECECA;
	font-family: sans-serif;
	font-size: 11.5px;
	font-weight: bold;
	z-index: 5;	
	background-color: white;
}
#sidebar a {
	text-decoration: none;
	color: black;
}
/*Home Button*/
#home {
	height: 100px;
	text-align: center;
	position: relative;
	top: 30px;
	box-shadow: 0px 0.15px gray;
}
#home_p {
	position: relative;
	top: 10px;
}
#home img {
	position: relative;
	top: 15px;
}
/*About Button*/
#about {
	height: 100px;
	text-align: center;
	position: relative;
	top: 30px;
	box-shadow: 0px 0.15px gray;
}
#about_p {
	position: relative;
	top: 15px;
}
#about img {
	position: relative;
	top: 25px;
}
/*Portfolio Button*/
#portfolio {
	height: 100px;
	text-align: center;
	position: relative;
	top: 30px;
	box-shadow: 0px 0.15px gray;
}
#portfolio_p {
	position: relative;
	top: 23px;
}
#portfolio img {
	position: relative;
	top: 29px;
}
/*Contact Button*/
#contact {
	height: 100px;
	text-align: center;
	position: relative;
	top: 30px;
	box-shadow: 0px 0.15px gray;
}
#contact_p {
	position: relative;
	top: 21px;
}
#contact img {
	position: relative;
	top: 27px;
}
/*Sidebar Patch*/
/*#sidebarPatch {
	z-index: 3;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 95px;
	height: 215px;
}*/
/*-------------------------------------End of Sidebar-------------------------------------*/



/*--------------------------------------Home Page-----------------------------------------*/
#homePage {
	height: 100%;
}
/*------------------Home Page Text------------------*/
#homePageText {
	position: absolute;
	top: 220px;
	left: 249px;
	/*top: 30.5%;
	left: 16.4%; */ /*Відстань фіксується по правій стороні, а не по лівій*/
}
/*----------Hello---------*/
#homeTextHello {
	font-family: sans-serif;
	font-size: 20px;
}
/*--------Edward----------*/
#homeTextEdward {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: bold;
	position: relative;
	top: -50px;
}
/*-------- I am -----------*/
#homeTextI {
	font-family: sans-serif;
	font-size: 22px;
	position: relative;
	top: -100px;
}
/*---------Lorem-----------*/
#homeTextLorem {
	color: gray;
	font-family: sans-serif;
	font-size: 16px;
	position: relative;
	top: -100px;
	width: 600px;
}

/*---------------Home page buttons-------------------*/
#homePageButtonWork {
	height: 45px;
	width: 120px;
	position: absolute;
	top: 460px;
	left: 249px;
	background-color: #d9832e;
	text-align: center;
}
#homePageButtonHire {
	height: 41px;
	width: 120px;
	position: absolute;
	top: 460px;
	left: 355px;
	border: 2px solid #d9832e;
	text-align: center;
	margin-left: 30px;
}

#homePageButtonWork a {
	text-decoration: none;
}
#homePageButtonHire a {
	text-decoration: none;
}
#homePageButtonWork p {
	color: white;
	font-family: sans-serif;
	font-size: 14px;
}
#homePageButtonHire p {
	color: #d9832e;
	font-family: sans-serif;
	font-size: 14px;
}
/*-----------------End of Home page buttons-----------*/


/**/
/*---------------------------------------------End of Home Page---------------------------------------*/


/*---------------------------------------------About ME-----------------------------------------------*/

/*----------------------About me------------------*/
#aboutMe {
	width: 100%;
	height: 700px;
	z-index: 1;
	position: relative;
	background-color: pink;
	margin-top: 0.4%;
}

/*----------Header---------*/
#aboutMeHeader {
	position: absolute;
	left: 250px;
	font-family: sans-serif;
	/*background-color: darkgray;*/
}

/*----------Photo----------*/

/*----------Text-----------*/

/*----------Table----------*/

/*----------Button---------*/

/*----------------------My Skills------------------*/


/*---------------------------------------------End of About ME----------------------------------------*/