/*-------------------------------Sidebar-------------------------------------*/
.sidebar {
	position: fixed;
	width: 6%;
	height: 100%;
	/*background-color: hotpink;*/
	left: 0px;
	top: 0px;
	box-shadow: 0px 0px 10px #D4d4cf;
	font-size: 70%;
	font-weight: bold;
}

.sidebar a {
	width: 2%;
	font-size: 100%;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

.sideButton {
	height: 15%;
	align-content: center;
	margin-top: 5%;
	text-align: center;
	box-shadow: 0.4px 0.4px 1px #D4d4cf;
}

.sidebar img {
	width: 25%;
	height: 20%;
	position: relative;
	top: 30%;
}

.sidebar p {
	margin-top: 20%;
	position: relative;
	top: 20%;
}
/*-------------------------------End of Sidebar-------------------------------------*/

/*---------------------------------------------------------------------------------------------------*/

/*----------------------------------Home Page---------------------------------------*/

.homePage {
	background-color: pink;
	position: relative;
	top: 30%;
	left: 20%;
}




/*--------------------------------End of Home Page----------------------------------*/

