/*Sidebar*/
#sidebar {
	width: 95px;
	top: 0px;
	left: 0px;
	position: fixed;
	height: 100%;
	border-right: 0.5px solid;
}

#sidebar a {
	text-decoration: none;
	color: black;
	font-style: bo;
}
/*Home Button*/
#home {
	height: 60px;
	border-bottom: 1px solid;
	text-align: center;
}

#home_p {
	position: relative;
	top: -6px;
}

#home img {
	position: relative;
	top: 10px;
}
/*About Button*/
#about {
	height: 60px;
	border-bottom: 1px solid;
	text-align: center;
}

#about_p {
	position: relative;
	top: -12px;
}

#about img {
	position: relative;
	top: 5px;
}
/*Portfolio Button*/
#portfolio {
	height: 60px;
	border-bottom: 1px solid;
	text-align: center;
}

#portfolio_p {
	position: relative;
	top: -4px;
}

#portfolio img {
	position: relative;
	top: 9px;
}
/*Contact Button*/
#contact {
	height: 60px;
	border-bottom: 1px solid;
	text-align: center;
}

#contact_p {
	position: relative;
	top: -4px;
}

#contact img {
	position: relative;
	top: 9px;
}





/*End of Sidebar*/